.section-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #122023;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 0 20px;
  }
  
  .custom-card {
    position: relative;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .custom-card:hover {
    transform: translateY(-10px);
  }
  
  .recommended-badge {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #122023;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff4d4d;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .card-pricing {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .original-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #12202396;
    margin-right: 10px;
  }
  
  .discounted-price {
    font-size: 25px;
    font-weight: bold;
    color: #2ECC40;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    color: #122023;
  }

  .card-description{
    font-size: 15px;
    margin: 15px 0;
    font-weight: bold;
    color: #666666;
  }
  
  .card-text {
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
  }
  
  .card-features {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 0;
  }
  
  .card-features li {
    font-size: 17px;
    color: #28a745;
    margin-bottom: 5px;
    padding-left: 25px;
  }

  .card-divider{
    border: 0;
    height: 1px;
    background-color: #122023;
    margin: 15px 0;
  }
  
  .btnnn-primary-alt {
    background: #FFFF;
    border: solid 2px #2ECC40;
    color: #2ECC40;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnnn-primary-alt:hover {
    background: #2ECC40;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .btnnn-highlight {
    background: #2ECC40;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btnnn-highlight:hover{
    background-color: #ffffff;
    border: solid 1px #2ECC40;
    color: #122023;
    transition: all 0.3s ease;
  }
  
  .highlight {
    border: 2px solid #122023;
    background: #f0fff7;
    box-shadow: 0px 0px 34px #6af9ad
  }
  
  @media (max-width: 768px) {
    .custom-card {
      margin-bottom: 20px;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        
    }

    .recommended-card{
        order: -1;
    }
  }
  