.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #122023;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  .sidebar.collapsed {
    width: 85px;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  
  .menu-heading {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    flex-grow: 1;
    text-align: left;
    transition: opacity 0.3s ease;
  }
  
  .menu-heading.collapsed {
    opacity: 0;
    visibility: hidden;
  }
  
  .toggle-btn {
    background: #122023;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    padding-right: 23px;
    cursor: pointer;
    font-size: 22px;
    z-index: 1100;
    transition: all 0.3s ease;
    position: absolute;
    right: 10px;
    top: 10px;
  }
 
  .sidebar-menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
 
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-menu-item {
    padding: 10px 20px;
  }
  
  .sidebar-menu-item a {
    color: #fff;
    padding: 5px;
    padding-left: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background 0.3s ease;
  }
  
  .sidebar-menu-item a:hover {
    background: #286f30;
    border-radius: 5px;
  }
  
  .sidebar-menu-item a.active {
    background: #2ECC40;
    padding-left: 12px;
    border-radius: 5px;
  }
 
  .menu-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .sidebar.collapsed .menu-icon {
    margin-right: 0;
  }
  
  .sidebar.collapsed span {
    display: none;
  }
  
  .content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .sidebar.collapsed ~ .content {
    margin-left: 60px;
  }

  .sidebar-header {
    padding: 15px;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar.collapsed .sidebar-header {
    justify-content: flex-start;
  }
  
  .sidebar.collapsed .sidebar-menu {
    padding-top: 0;
  }
  
  .sidebar.collapsed .sidebar-menu-item {
    justify-content: center;
  }

  .content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .sidebar.collapsed ~ .content {
    margin-left: 85px;
  }
  
  