.layout {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
  }
  
  .content {
    margin-left: 250px; 
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    width: 100%;
  }
  
  .sidebar.collapsed + .content {
    margin-left: 85px;
  }
  