h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  align-items: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 4px solid #2ecc40;
  margin: 14px 0 15px 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chart-container {
  width: 96%;
  max-height: 500px;
}

.total-bookings {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
