.contact-container {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.428);
    margin-bottom: 100px;
  }
  
  .contact-info {
    flex: 1;
    background: #122023
    ;
    color: #fff;
    padding: 1.5rem;
    border-radius: 15px;
  }
  
  .contact-info h2 {
    margin-bottom: 1rem;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .contact-info i {
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 20px;
  }
  
  .social-icons {
    margin-top: 1rem;
  }
  
  .social-icons i {
    margin: 0 0.5rem;
    font-size: 20px;
    cursor: pointer;
  }
  
  .contact-form {
    flex: 2;
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .contact-form h2 {
    margin-bottom: 1rem;
  }
  
  .contact-form .form-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .contact-form .form-group input,
  .contact-form .form-group select,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .contact-form textarea {
    resize: none;
    height: 100px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background: #2ECC40;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-form button:hover {
    background: #122023;
  }
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      padding: 1rem;
      width: 95%;
    }
  
    .contact-info,
    .contact-form {
      width: 100%;
    }
  }
  